.block1 {
  background-color: #e92c16;
  width: 6px;
  height: 200px;
  border-radius: 5px;
  margin-top: 46px;
  margin-right: 10px;
}
.h-color {
  color: #16d3e9;
  margin-top: 20px;
}
.title-size {
  font-size: 50px;
}
.eva {
  display: flex;
}
h1 {
  margin-top: 25px;
}
.button {
  background-color: #e92c16;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}
.header {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.small-header {
  width: 50%;
}
.small-header {
  width: 50%;
  margin-left: 100px;
  margin-top: 100px;
}
.h1-font-color {
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.date-color {
  color: #e92c16;
}
.wrapper {
  width: 960px;
  display: flex;
  margin: auto;
}
.class1 {
  background-color: #eb897c;
  width: 350px;
  height: 350px;
  margin-right: 30px;
  border-radius: 10px;
}
.class2 {
  background-color: #f4b3ab;
  width: 350px;
  height: 350px;
  border-radius: 10px;
}
.class3 {
  background-color: #b1edf5;
  width: 350px;
  height: 350px;
  margin-left: 30px;
  border-radius: 10px;
}
.box-size {
  box-sizing: border-box;
  margin-left: 5px;
  /* text-align: justify; */
}
.boby {
  margin-bottom: 90px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.text-button {
  background-color: #e92c16;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}
.mid-box {
  display: flex;
}
.mid-pic {
  width: 50%;
  margin-left: 180px;
}
.mid-theory {
  width: 50%;
  margin-right: 180px;
}
.mid-font {
  font-size: 2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
